# Project exclude paths
/.gradle/
/Connect Four/task/build/
/Connect Four/task/out/
/Connect Four/task/out/production/classes/
/Topics/Processing strings/Create a euphonious word/out/
/Topics/Processing strings/Create a euphonious word/out/production/classes/
# Project exclude paths
/Topics/Debugging techniques/Find the error/out/
/Topics/Debugging techniques/Find the error/out/production/classes/